# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# PyEnv
.python-version

# ChromaDB persistent storage
chroma_db/

# Temp files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/



.pytest_cache/

terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

terraform/.terraform.tfstate.backup
.terraform.lock.hcl
.terraform
